name=i3space
pkgver=0.2.0
pkgrel=1
pkgdesc="Workspace overview for i3 (X11)"
arch=('x86_64')
url="https://github.com/YOUR_USER/i3space"
license=('MIT')
depends=('i3-wm' 'libx11' 'libxft' 'libxrender' 'fontconfig' 'simdjson')
makedepends=('cmake')
source=("$pkgname-$pkgver.tar.gz")
sha256sums=('SKIP')

build() {
  cmake -S "$pkgname-$pkgver" -B build -DCMAKE_BUILD_TYPE=Release
  cmake --build build
}

package() {
  install -Dm755 build/i3space "$pkgdir/usr/bin/i3space"
  install -Dm644 "$pkgname-$pkgver/man/i3space.1" "$pkgdir/usr/share/man/man1/i3space.1"
  install -Dm644 "$pkgname-$pkgver/examples/i3space.default" \
    "$pkgdir/usr/share/doc/i3space/i3space.default"
}
